<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Выдача сим-карт выбранному абоненту" id="96ad9472-d629-4b89-9828-d93b1b787749" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="96ad9472-d629-4b89-9828-d93b1b787749fileName">Выдача-сим-карт-выбранному-абоненту</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>