<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="73dd5db6-448b-4ad7-8cbd-112a2a3303b2" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://bil.api" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="73dd5db6-448b-4ad7-8cbd-112a2a3303b2fileName">http%3A%2F%2Fbil.api</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://${#Project#prefix.bil}-bil-api.g4lab.com:8080/bill/v1</con:endpoint><con:endpoint>http://ft3-bil-api.g4lab.com:8080/bill/v1</con:endpoint></con:endpoints></con:interface>