<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="2a391404-bb35-461f-9152-1c6616a704af" wadlVersion="http://wadl.dev.java.net/2009/02" name="Product Management API" type="rest" basePath="/pm" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description xsi:nil="true"/><con:settings><con:setting id="2a391404-bb35-461f-9152-1c6616a704affileName">Product-Management-API</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://${#Project#pm_api}:8080</con:endpoint><con:endpoint>http://ft3-pm-api.g4lab.com:8080</con:endpoint><con:endpoint>http://swagger.g4lab.com</con:endpoint></con:endpoints></con:interface>