<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="2835120a-0467-4b61-b49b-2e01642f145f" wadlVersion="http://wadl.dev.java.net/2009/02" name="Billing API" type="rest" basePath="/bill" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description xsi:nil="true"/><con:settings><con:setting id="2835120a-0467-4b61-b49b-2e01642f145ffileName">Billing-API</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>ft3-bil-api.g4lab.com:8080</con:endpoint><con:endpoint>http://${#Project#billapi}:8080</con:endpoint><con:endpoint>http://swagger.g4lab.com</con:endpoint></con:endpoints></con:interface>