<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5c22ca47-055e-4140-ac07-61c2fd647200" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://helper.api" type="rest" basePath="/" definitionUrl="C:\Users\xxmanurv\Documents\_1.wadl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="5c22ca47-055e-4140-ac07-61c2fd647200fileName">http%3A%2F%2Fhelper.api</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://</con:endpoint></con:endpoints></con:interface>