<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9e4480b5-66f0-42e5-bce1-7aada828af13" name="Для смежных команд" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="9e4480b5-66f0-42e5-bce1-7aada828af13fileName">Для-смежных-команд</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>