<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="8bbfb555-9737-4d12-ad61-372c4113ed71" wadlVersion="http://wadl.dev.java.net/2009/02" name="Corporate Customer Information Service" type="rest" basePath="/cis-web/api/rpc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description xsi:nil="true"/><con:settings><con:setting id="8bbfb555-9737-4d12-ad61-372c4113ed71fileName">Corporate-Customer-Information-Service</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://${#Project#host-b2b}:8086</con:endpoint></con:endpoints></con:interface>